@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.darkBackgroundColorFirstPage {
    background-color: #1F2937;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.heroText {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.heroSecondaryText {
    font-size: 18px;
    color: #E5E7EB;
}

.left-text {
    font-size: 24px;
    color: #F9FAF8;
}

.button {
    background-color: #3882F6
}